<div class="ui card">
  <div class="content">
    <!-- <div class="ui right floated star rating" data-rating="2"></div> -->
    <div class="header">{{source.Name}}</div>
    <div class="meta">{{source.Status}}</div>
    <div class="description">
        {{#each targets as |target|}}
              <a class="ui tiny green horizontal statistic">
                <div class="text value">
                    {{target.Name}}
                </div>
                <div class="label">
                  {{target.Score}}
                </div>
            </a>
        {{/each}}
    </div>
  </div>
  <div class="extra">
      Quality: <div class="ui star rating" data-rating="{{source.Quality}}"></div>
  </div>
</div>
