<div class="ui card">
  <div class="content">
    <!-- <div class="ui right floated star rating" data-rating="2"></div> -->
    <div class="header">{{source.Name}}</div>
    <div class="ui dropdown" initial={{source.Status}} sourceId={{source.Id}}>
        <div class="text">Status</div>
        <!-- <i class="dropdown icon"></i> -->
        <div class="menu">
          <div class="item" data-value="0">Initial</div>
          <div class="item" data-value="1">Processed</div>
          <div class="item" data-value="2">Reviewed</div>
        </div>
    </div>
    <div class="description">
        {{#each targets as |target|}}
            {{#link-to 'comparison' source.Id target.trId class="ui tiny green horizontal statistic"}}
                <div class="text value">
                    {{target.Name}}
                </div>
                <div class="label">
                  {{target.Score}}
                </div>
            {{/link-to}}
        {{/each}}
    </div>
  </div>
  <div class="extra">
      Quality: <div class="ui star rating" data-rating="{{source.Quality}}"></div>
  </div>
</div>
